<template>
  <div id="main-content" class="text-left py-3">

    <property-map/>
  </div>
</template>

<script>
import PropertyMap from '../../components/PropertyMap'

export default {
  name: 'Container',

  data () {
    return {
    }
  },

  components: { PropertyMap }
}
</script>

<style scoped>

</style>
