<template>
  <b-row>
    <b-col lg="2">
      <sidebar/>
    </b-col>
    <b-col lg="10">
      <container/>
    </b-col>
  </b-row>
</template>

<script>
import Sidebar from './Sidebar'
import Container from './Container'

export default {
  name: 'Layout',
  components: {
    Container,
    Sidebar
  }
}
</script>
