<template>
  <div id="sidebar" class="px-3">
    <h1 class="text-white py-3">Archistar</h1>
    <category-filter @categoryChange="categoryChange"/>
    <suburb-filter @suburbChange="suburbChange"/>
  </div>
</template>

<script>

import CategoryFilter from '../../components/CategoryFilter'
import SuburbFilter from '../../components/SuburbFilter'

export default {
  name: 'Sidebar',
  components: { SuburbFilter, CategoryFilter },
  data () {
    return {
      filter: { suburb: '', category: '' }
    }
  },

  // Load Map cordinnates on Component load
  created () {
    this.getCordinates()
  },

  methods: {
    suburbChange (value) {
      this.filter.suburb = value
      this.setFilters()
    },

    categoryChange (value) {
      this.filter.category = value
      this.setFilters()
    },

    getCordinates () {
      this.$store.dispatch('getCordinates', this.filter)
    },

    setFilters () {
      this.$store.dispatch('setFilters', this.filter)
      this.getCordinates()
    }
  }
}
</script>

<style lang="scss">
  #sidebar {
    background: #2c3e50;
    position: sticky;
    height: 100vh;
    color: #FFF;
  }
</style>
