<!--Component that handles categories-->
<template>
  <div class="filter-section text-left">
    <h3>Filter By Category</h3>
    <select class="form-control" v-model="selectedCategory" @change="categoryChanged">
      <option value="" v-if="loading">Loading...</option>
      <option value="" v-else>Select Category</option>
      <option v-for="category in categories" :key="category" :value="category">{{ category }}</option>
    </select>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'CategoryFilter',

  data () {
    return {
      selectedCategory: '',
      loading: false
    }
  },

  created () {
    this.getCategories()
  },

  methods: {
    async getCategories () {
      this.loading = true
      await this.$store.dispatch('getCategories')
      this.loading = false
    },

    categoryChanged () {
      this.$emit('categoryChange', this.selectedCategory)
      // this.$store.dispatch('setFilters', { category: this.selectedCategory })
    }
  },

  computed: {
    ...mapGetters({
      categories: 'categories'
    })
  }
}
</script>

<style scoped>

</style>
