<template>
  <div>
    Category: {{ filters.category || 'All' }} | Suburb: {{ filters.suburb || 'All' }}
    <hr/>
    <mgl-map
      id="map-view"
      :accessToken="accessToken"
      :mapStyle="mapStyle"
      :center="center"
      :zoom="15"
    >
      <MglNavigationControl position="top-right"/>
      <MglMarker
        v-for="cordinate in cordinates"
        :key="cordinate.id"
        :coordinates="[cordinate.project.Long, cordinate.project.Lat]"
        :color="cordinate.color"
      >
        <MglPopup>
          <div>
            <strong>{{ cordinate.project.Title }}</strong><br>
            <p>{{ cordinate.project.Address }}</p>
          </div>
        </MglPopup>
      </MglMarker>
    </mgl-map>
  </div>
</template>

<script>
import Mapbox from 'mapbox-gl'
import { MglMap, MglMarker, MglPopup, MglNavigationControl } from 'vue-mapbox'
import { mapGetters } from 'vuex'

export default {
  name: 'PropertyMap',

  data () {
    return {
      accessToken: 'pk.eyJ1IjoicHJhZGhhbjAwN3AiLCJhIjoiY2s4Z21pYXl0MDM4ZTNpcnluamU3bmp6diJ9.Nf2hjScC0YHjdjXGhbumzQ',
      mapStyle: 'mapbox://styles/mapbox/streets-v11', // Map Style
      center: [151.209152, -33.875305] // Long, Lat
    }
  },

  components: {
    MglMap,
    MglMarker,
    MglPopup,
    MglNavigationControl
  },

  computed: {
    ...mapGetters({
      cordinates: 'cordinates',
      filters: 'filters'
    })
  },

  created () {
    // We need to set mapbox-gl library here in order to use it in template
    this.mapbox = Mapbox
  }
}
</script>

<style lang="scss">
  #map-view {
    width: 98%;
    min-height: calc(100vh - 100px);
  }
</style>
