<!--Component that handles categories-->
<template>
  <div class="filter-section text-left mt-3">
    <h3>Filter By Suburb</h3>
    <select class="form-control" v-model="selectedSuburb" @change="suburbChanged">
      <option value="" v-if="loading">Loading...</option>
      <option value="" v-else>Select Suburb</option>
      <option v-for="suburb in suburbs" :key="suburb" :value="suburb" >{{ suburb }}</option>
    </select>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'SuburbFilter',

  data () {
    return {
      selectedSuburb: '',
      loading: false
    }
  },

  created () {
  },

  methods: {
    suburbChanged () {
      this.$emit('suburbChange', this.selectedSuburb)
    }
  },

  computed: {
    ...mapGetters({
      suburbs: 'suburbs'
    })
  }
}
</script>

<style scoped>

</style>
